h1, h2, h3, h4, h5, h6 {
  font-family: Cabin,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 700;
  margin: 0 0 35px;
  letter-spacing: 1px;
  text-transform: none;
}

#record-container {
  padding-top: 150px;
  padding-bottom: 150px;
}

@media (max-width: 764px) {
  #record-container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

