#home-logo {
  width: 350px;
  border-radius: 15px;
}

@media (max-width: 450px) {
  #home-logo {
    width: 85%;
    border-radius: 15px;
  }
}

#home-head {
  padding: 0px;
}

@media (max-width: 588px) {
  #home-head {
    padding-left: 15px;
    padding-right: 15px;
  }
}

#home-heading {
  font-size: 39px;
  margin-bottom: 10px;
  font-family: Rubik, sans-serif;
}

@media (max-width: 387px) {
  #home-heading {
    font-size: 29px;
    margin-bottom: 10px;
    font-family: Rubik, sans-serif;
  }
}

#ep1-row {
  background: rgba(109,109,109,0.89);
  border-radius: 15px;
}

@media (max-width: 500px) {
  #ep1-ds-column {
    text-align: center;
  }
}

@media (max-width: 767px) {
  #listen-ap-footer {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  #listen-spot {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  #listen-google {
    margin-bottom: 30px;
  }
}

#navbarResponsive {
  background-color: transparent;
}

@media (max-width: 767px) {
  #navbarResponsive {
    background-color: black;
    padding: 20px;
    border-radius: 15px;
  }
}

